
@{
    ViewData["Title"] = "Create";
}

<h1>Kategori Ekleme Sayfası</h1>
<center>
    <div>
        <form action="/Category/Create" method="post">
            <input type="text" name="Name" placeholder="Kategorisi İsmi Giriniz..." /><br /><br />
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</center>
