@model ProductDTO 
@{
    ViewData["Title"] = "Update";
}
<h1>Ürün Güncelleme Ekranı</h1>

<div class="row">
    <form action="Update" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Id">Ürün Id</label>
            <input asp-for="Id" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Name">Ürün Adı</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Stock">Ürün Stok Adeti</label>
            <input asp-for="Stock" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Price">Ürün Fiyatı</label>
            <input asp-for="Price" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CategoryId">Ürün Kategorisi</label>
            <input asp-for="CategoryId" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Ürün Güncelle" class="btn btn-info" />
        </div>
    </form>
</div>

